@model List<SuperHero.Models.Superheros>
@{
    ViewData["Title"] = "SuperHeroes";
}

<h1>SuperHeroes</h1>

@foreach (var superhero in Model)
{
    <div>
        <h4>@superhero.Name</h4>
    </div>
}
<p>
    <a asp-asction="Create">Create New</a>
</p>

